.add-person{
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #888;
    cursor: pointer;
}

.add-person svg{
    fill: #444;
    width: 35px;
    height: 35px;
}