.btn{
    width: fit-content;
    min-width: 100px;
    padding: 5px 10px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
    background-color: #fe80a6;
    border-radius: 4px;
}