.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.overlay.opened{
    display: flex;
}

.modal{
    width: 350px;
    padding: 45px 20px;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
}

.modal .close{
    color: #444;
    top: 10px;
    right: 15px;
    position: absolute;
}

.modal input{
    width: 300px;
    height: 20px;
    padding: 5px;
    display: block;
    margin-bottom: 30px;
}