.result{
    width: 700px;
    height: 50px;
    padding: 0 24px;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    display: flex;
    background-color: #fff;
    box-shadow: 2px 2px 10px #ccc;
    position: relative;
    margin-bottom: 30px;
}

.result.positive .percent, .result.positive .weight{
    color: green;
} 

.result.negative .percent, .result.negative .weight{
    color: red;
}