.person{
    width: 700px;
    height: 50px;
    padding: 0 24px;
    align-items: center;
    border-radius: 8px;
    display: flex;
    background-color: #fff;
    box-shadow: 2px 2px 10px #ccc;
    position: relative;
    margin-bottom: 30px;
}

.person .name, .person .initial-weight, .person .end-weight{
    margin-right: 40px;
}

.person .remove{
    width: 24px;
    height: 24px;
    position: absolute;
    right: 24px;
    cursor: pointer;
}

.person .remove svg{
    fill: #fe80a6;
}