.person-wrapper{
  margin-bottom: 100px;
}

.see-results-wrapper{
  margin-top: 100px;
}

.podium, .results-wrapper{
  display: none;
}

.results-mode .person-wrapper, .results-mode .see-results-wrapper, .results-mode .add-person{
  display: none;
}

.results-mode .podium, .results-mode .results-wrapper{
  display: flex;
}

.results-wrapper{
  margin-top: 100px;
  margin-bottom: 100px;
  flex-direction: column;
}