.podium{
    width: 800px;
    height: 500px;
    align-items: flex-end;
}

.podium .place{
    background-color: #f1f1f1;
    width: 266.6666666666667px;
}

.podium .place:nth-child(1){
    height: 40%;
}
.podium .place:nth-child(2){
    height: 70%;
}
.podium .place:nth-child(3){
    height: 30%;
}

.podium .place .name{
    text-align: center;
    transform: translateY(-100%);
    height: 50px;
    font-size: 25px;
    margin-bottom: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.podium .place .stair{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 100px;
}

.podium .place .stair .place-number .icon{
    width: 100px;
    height: 100px;
}

.podium .place:nth-child(1) .stair{
    color:silver;
}
.podium .place:nth-child(2) .stair{
    color: gold;
}
.podium .place:nth-child(2) .name{
    font-size: 35px;
}
.podium .place:nth-child(3) .stair{
    color: brown;
}